body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: lightsteelblue;
    font-family: 'cursive', Arial, sans-serif;
    overflow-x: hidden;
}

.nav {
    display: flex;
    width: 100%;
    background-color: skyblue;
    color: #fff;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 8px #ff0000, 0 0 25px coral, 0 0 5px crimson;
    border: 3px solid aliceblue;
    border-bottom: 7px solid aliceblue;
    box-sizing: border-box;
    box-shadow: inset 7px 7px 13px 7px slategray;
    padding: 10px 20px;
    margin-bottom: 30px;
    flex-basis: auto;
    flex-direction: column;
}

.brand {
    text-decoration: none;
    color: #fff;
    font-size: 50px;
}

.nav-buttons {
    color: oldlace;
    text-align: left;
}

.nav-buttons2 {
    color: oldlace;
    float: right;
}

.nav-buttons a {
    text-decoration: none;
    color: oldlace;
    font-size: 28px;
}

.body {
    display: flex;
    margin-bottom: 40px;
}

.left-column,
.center-column,
.right-column {
    border: 3px solid salmon;
    padding: 10px;
    margin: 10px auto;
    background-color: rebeccapurple;
    color: oldlace;
    font-size: 30px;
    text-align: center;
    flex-basis: 30%;
    flex: 1 0 30%;
    padding: 30px 30px;
    text-shadow: 2px 2px 8px #ff0000, 0 0 25px coral, 0 0 5px crimson;
    box-shadow: 4px 4px 4px 4px slategray;
    justify-content: space-around;
}

.left-column {
    flex-basis: 25%;
    flex-shrink: 0
}

.center-column {
    flex-basis: 25%;
    flex-shrink: 0;
}

.right-column {
    flex-basis: 25%;
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: hotpink;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

.footer div {
    flex-basis: 25%;
    text-align: center;
    font-size: 50px;
    color: oldlace;
    text-shadow: 2px 2px 8px #ff0000, 0 0 25px coral, 0 0 5px crimson;
    border: 2px solid blueviolet;
    box-shadow: 0 7px 0 0 slategray;
}
